#display {
  @extend .col-12,
    .border,
    .border-2,
    .border-dark,
    .rounded,
    .py-1,
    .px-3,
    .mb-1,
    .text-end,
    .fs-5;
}

#display > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calc-btn {
  @extend .px-0, .py-1, .col-12, .btn;
}

.calc-btn-num {
  @extend .calc-btn, .btn-secondary;
}

.calc-btn-generic {
  @extend .calc-btn, .btn-dark;
}

.calc-btn-highlight {
  @extend .calc-btn, .btn-primary;
}
