/**
 * Change cursor to "pointer finger" style on hover.
 */
.pointer-hover {
  cursor: pointer;
}

/**
 * Styling for the pairwise choices during the ranking process.
 */
.choice {
  font-size: 2rem;
  padding-top: 70px;
  padding-bottom: 70px;
}
