/**
 * Change cursor to "pointer finger" style on hover.
 */
.pointer-hover {
  cursor: pointer;
}

/**
 * Styling for the pairwise choices during the ranking process.
 */
.choice {
  padding-top: 75px;
  padding-bottom: 75px;
}
